<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adm/layout/admlayour}">
	<th:block layout:fragment="head" th:insert="~{@{/adm/layout/admhead}}"></th:block>

<script type="text/javascript">
	$(function(){ 
	});

	$(document).ready(function(){
    	
		//조회버튼 클릭
        $('#searchBtn').on('click', function(event, page) {
        	
            var pageIdx = (page == null ? "1" : page);
            var rowPerPage = 10;
            var pageBlock = 10;
            
            var param = {
                     "searchType" : $('#searchType').val() 
                     , "searchValue" : $('#searchValue').val() 
                     , "pageNo" : pageIdx
               };        
            
            $.ajax({
                url : '/adm/store/StoreQueryList'
                , type : 'POST'
                , dataType : 'JSON'
                , cache : false
                , data : param
                , beforeSend : function( xhr, settings ) { 
                    //loadingbar_show(); 
                }
                , success : function(data, stauts, request) {
                    var values = data.rows;
                    var strHtml = "";
                    
                    if (values.length > 0) {
                        $.each(values, function(index, value){
                            strHtml += '<tr id="' + value.storeId + '">';
                            strHtml += '    <td>' + ((pageIdx-1) * rowPerPage + index + 1) + '</td>';
                            strHtml += '    <td class="left">' + value.docTitle + '</td>';
                            strHtml += '    <td>' + value.docRead + '</td>';
                            strHtml += '    <td>' + value.docStatText + '</td>';
                            strHtml += '    <td>' + value.upDate + '</td>';
                            strHtml += '</tr>';
                        });
                    } else {
                        strHtml = '<tr><td colspan=5 class="no_result"><span>검색 결과가 없습니다.</span></td></tr>';
                    }
                    $('#boardTbody1').html(strHtml);
                    
                }
                , error : function(xhr, status) {
                    alert('서비스 장애발생 관리자에게 문의해 주십시요 we');
                }
                , complete : function(xhr, status) {
                    //loadingbar_hide();
                }    
            });
        });
        
        $("#searchBtn").trigger('click', 1);
        
        $('#insertBtn').on('click',function(){
            location.href = "/adm/store/StoreIns.do";
        });
        
        //엔터시 검색
        $('#searchValue').on('keydown', function(event, page) {
        	if (event.keyCode != 13) {
        		return;
        	}
        	$("#searchBtn").trigger('click', 1);
        });
    });
</script>

<body>
<div class="adm-wrap">
	<th:block layout:fragment="header" th:insert="~{@{/adm/layout/admheader}}"></th:block>
	
	<div layout:fragment="content">
    <div class="adm-container">
        <header>
            <ul class="top-info">
                <li>
                    <i class="iconfont">account_circle</i><span th:text="${sessInfo.CrbnAdmNm}">홍길동님</span> 님 반갑습니다
                </li>
                <li>
                    <a href="#"><i class="iconfontline">logout</i>로그아웃</a>
                </li>
            </ul>
        </header>

        <!--- content -->
        <div class="adm-content">
            <h2>가맹점 관리</h2>

            <div class="grid-2">
                <!--<div class="t-13 mT10 gray">총 건수 : 300건</div>-->
				<div class="t-13 mT10 gray">
				    <!--총 건수 : <span id="totalCount">0</span>건-->
				    총 건수 : <span th:text="${totalCount}">0</span> 건
				</div>
                <div class="t-right">
                    <div class="search-type">
                        <input type="text" name="" id="" class="input-type1" placeholder="Search" />
                        <button type="button" class="btn-search">검색</button>
                    </div>
                </div>
            </div>

            <div class="board-type1 mT10">
                <table>
                    <colgroup>
						<col style="width:15%;" />
						<col style="width:15%;" />
                        <col style="width:40%;" />
                        <col style="width:15%;" />
                        <col style="width:15%;" />
                    </colgroup>
                    <thead>
                        <tr>
						  <th>아이디</th>
						  <th>상호</th>
			              <th>사업장 주소</th>
			              <th>이메일</th>
			              <th>생성일</th>
                        </tr>
                    </thead>
                    <tbody>
			            <tr th:each="docdesc : ${ntsList}">
			                <td > <a th:href="@{'/adm/store/StoreDesc.do?storeId=' + ${docdesc.storeId}}" th:text="${docdesc.storeId}"></a>
			                </td>
			                <td th:text="${ docdesc.storeNm }"></td>
			                <td th:text="${ docdesc.storeAddr }"></td>
			                <td th:text="${ docdesc.storeEmail }"></td>
			                <!--<td th:if="${docdesc.docStat == 'N'}">등록</td>
			                <td th:if="${docdesc.docStat == 'V'}">게시</td>
			                <td th:if="${docdesc.docStat == 'C'}">게시취소</td>
			                <td th:if="${docdesc.docStat == 'D'}">삭제</td>-->
			                <td th:text="${ docdesc.creDtm }"></td>
			            </tr>

                    </tbody>
                </table>
            </div>

            <div class="f-right mT20">
                <button type="button" class="btn-blue" id="insertBtn">등록</button>
            </div>

            <!-- page number-->
            <!--// page number -->
			

			<!-- 페이징 UI 시작 -->
			<div class="page-num mT30" th:if="${totalPages > 1}">
			    <div class="inner">
			        <ul>
			            <!-- 처음 페이지로 이동 -->
			            <li>
			                <a th:href="@{|?page=1|}" th:classappend="${currentPage == 1} ? 'disabled'">
			                    <i class="iconfont">first_page</i>
			                </a>
			            </li>
			            <!-- 이전 페이지로 이동 -->
			            <li>
			                <a th:href="@{|?page=${currentPage - 1}|}" th:classappend="${currentPage == 1} ? 'disabled'">
			                    <i class="iconfont">chevron_left</i>
			                </a>
			            </li>
			            <!-- 페이지 번호 반복 -->
			            <li th:each="pageNum : ${#numbers.sequence(
			                    (currentPage-4 > 0 ? currentPage-4 : 1),
			                    (currentPage+4 <= totalPages ? currentPage+4 : totalPages))}">
			                <a th:href="@{|?page=${pageNum}|}" th:text="${pageNum}"
			                   th:classappend="${pageNum == currentPage} ? 'active'"></a>
			            </li>
			            <!-- 다음 페이지로 이동 -->
			            <li>
			                <a th:href="@{|?page=${currentPage + 1}|}" th:classappend="${currentPage == totalPages} ? 'disabled'">
			                    <i class="iconfont">chevron_right</i>
			                </a>
			            </li>
			            <!-- 마지막 페이지로 이동 -->
			            <li>
			                <a th:href="@{|?page=${totalPages}|}" th:classappend="${currentPage == totalPages} ? 'disabled'">
			                    <i class="iconfont">last_page</i>
			                </a>
			            </li>
			        </ul>
			    </div>
			</div>
			<!-- 페이징 UI 끝 -->			

        </div>
        <!---// content -->

        <footer>
            Copyright ⓒ CarbonBank. All Rights Reserved
        </footer>
    </div>

	</div>
</div><!-- //wrap -->
</body>
</html>
