<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adm/layout/admlayour}">
	<th:block layout:fragment="head" th:include="~{@{/adm/layout/admhead}}"></th:block>

<script type="text/javascript">
	$(function(){ 
	});

	$(document).ready(function(){
    	
		//조회버튼 클릭
        $('#searchBtn').on('click', function(event, page) {
        	
            var pageIdx = (page == null ? "1" : page);
            var rowPerPage = 10;
            var pageBlock = 10;
            
            var param = {
                     "searchType" : $('#searchType').val() 
                     , "searchValue" : $('#searchValue').val() 
                     , "pageNo" : pageIdx
               };        
            
            $.ajax({
                url : '/adm/content/NoticeQueryList'
                , type : 'POST'
                , dataType : 'JSON'
                , cache : false
                , data : param
                , beforeSend : function( xhr, settings ) { 
                    //loadingbar_show(); 
                }
                , success : function(data, stauts, request) {
                    var values = data.rows;
                    var strHtml = "";
                    
                    if (values.length > 0) {
                        $.each(values, function(index, value){
                            strHtml += '<tr id="' + value.docSeq + '">';
                            strHtml += '    <td>' + ((pageIdx-1) * rowPerPage + index + 1) + '</td>';
                            strHtml += '    <td class="left">' + value.docTitle + '</td>';
                            strHtml += '    <td>' + value.docRead + '</td>';
                            strHtml += '    <td>' + value.docStatText + '</td>';
                            strHtml += '    <td>' + value.upDate + '</td>';
                            strHtml += '</tr>';
                        });
                    } else {
                        strHtml = '<tr><td colspan=5 class="no_result"><span>검색 결과가 없습니다.</span></td></tr>';
                    }
                    $('#boardTbody1').html(strHtml);
                    
                }
                , error : function(xhr, status) {
                    alert('서비스 장애발생 관리자에게 문의해 주십시요 we');
                }
                , complete : function(xhr, status) {
                    //loadingbar_hide();
                }    
            });
        });
        
        $("#searchBtn").trigger('click', 1);
        
        $('#insertBtn').on('click',function(){
            location.href = "/adm/content/NoticeIns.do";
        });
        
        //엔터시 검색
        $('#searchValue').on('keydown', function(event, page) {
        	if (event.keyCode != 13) {
        		return;
        	}
        	$("#searchBtn").trigger('click', 1);
        });
    });
</script>

<body>
<div class="wrap">
	<th:block layout:fragment="header" th:include="~{@{/adm/layout/admheader}}"></th:block>
	
<div layout:fragment="content">
	<div class="container">
		
		<div class="lnb">
<!--		
			<ul class="adminlnb">
				<li><a href="#" ><i class="material-icons">reorder</i>서블릿 관리</a></li>
				<li><a href="#"><i class="material-icons">lock_outline</i>권한 관리</a></li>
				<li><a href="#"><i class="material-icons">perm_contact_calendar</i>어드민 아이디 관리</a></li>
				<li><a href="#"><i class="material-icons">settings</i>어드민 메뉴관리</a></li>
			</ul>
 -->			
			<ul class="menulnb">
				<li><a href="/adm/content/NoticeMainList.do" class="current"><i class="material-icons">assignment</i>공지사항</a></li>  <!--현재상태 메뉴일때 current -->
				<li><a href="/adm/content/AdmfrqntlAskList.do"><i class="material-icons">description</i>자주하는 질문</a></li>
				<li><a href="/adm/content/EnvNewsMainList.do"><i class="material-icons">list</i>환경뉴스 관리</a></li>
				<li><a href="/adm/content/AdmEnentList.do"><i class="material-icons">public</i>이벤트 관리</a></li>
				<li><a href="/adm/content/AdmQnaList.do"><i class="material-icons">queue_music</i>문의 및 제안</a></li>
				<li><a href="/adm/content/AdmWinnerList.do"><i class="material-icons">toys</i>당첨자 관리</a></li>
				<li><a href="/adm/content/AdmHotNewsList.do"><i class="material-icons">radio</i>기관 핫뉴스  관리</a></li>
				<li><a href="/adm/content/AdmAdvertisingList.do"><i class="material-icons">shopping_cart</i>광고 관리</a></li>
			</ul>
		</div><!-- //lnb -->

		<div class="content">
			<h2>공지사항</h2>
			<div class="align_right">
				<select id="searchType" class="sel_type1">
					<option>문서 상태을 선택하시오</option>	
					<option>전체</option>
					<option>기사제목</option>
					<option>기사내용</option>
				</select>
				<input type="text" style="width:150px" id="StartDt"/>
				<span class="hyphen">~</span>
				<input type="text" style="width:150px" id="EndDt"/>

				<select id="searchType" class="sel_type1">
					<option>항목을 선택하시오</option>	
					<option>전체</option>
					<option>기사제목</option>
					<option>기사내용</option>
				</select>
				<input type="text" style="width:150px" id="searchValue"/>
				<button class="btn_type1" id="searchBtn" >조회</button>
			</div>
						
			<div class="board_list mT10" >
				<table>
					<colgroup>
						<col />
						<col style="width:13%;" />
						<col style="width:13%;" />
						<col style="width:13%;" />
						<col style="width:13%;" />
						<col style="width:13%;" />
					</colgroup>
					<thead>
						<th>번호</th>
						<th>제목</th>
						<th>읽음</th>
						<th>상태</th>
						<th>변경일</th>
					</thead>
					<tbody id="boardTbody1" >
				            <tr th:each="docdesc : ${ntsList}">
				                <td th:text="${ docdesc.docSeq }" ></td>
				                <td > <a th:href="@{'/adm/content/NoticeDesc.do?docSeq=' + ${docdesc.docSeq}}" th:text="${docdesc.docTitle}"></a>
				                </td>
				                
				                <td th:text="${ docdesc.docRead }"></td>
				                <td th:if="${docdesc.docStat == 'N'}">등록</td>
				                <td th:if="${docdesc.docStat == 'V'}">게시</td>
				                <td th:if="${docdesc.docStat == 'C'}">게시취소</td>
				                <td th:if="${docdesc.docStat == 'D'}">삭제</td>
				                <td th:text="${ docdesc.creDtm }"></td>
				            </tr>
					</tbody>
				</table>
			</div><!-- //list end -->
			
			<div class="mT20 align_right"><button class="btn_type2" id="insertBtn">등록</button></div>

			
			<div class="paging" id="boardPage">
				<a href="#" class="paging_first"><span class="screen_hide">첫페이지</span></a>
				<a href="#" class="paging_prev"><span class="screen_hide">이전페이지</span></a>
				<span class="current">1</span>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
				<a href="#">9</a>
				<a href="#">10</a>
				<a href="#" class="paging_next"><span class="screen_hide">다음페이지</span></a>
				<a href="#" class="paging_last"><span class="screen_hide">마지막페이지</span></a>
			</div><!--// paging -->
		
		</div><!-- //content -->
	
	</div><!-- //container -->
 <script src="/adm/js/login.js"></script>
</div>
</div><!-- //wrap -->
</body>
</html>
