@charset "euc-kr";
/* CSS Document */
html {font-size:100.01%;}
hr { display: none; }
h1, h2, h3, h4, h5, h6, div, ul, ol, dl, dt, dd, p, fieldset, label, input, form {margin: 0;padding: 0;}
ul li {list-style:none;}
img, fieldset {border:0;}
fieldset {clear:both;}
a {text-decoration:none; color:#cc0066;}
a:hover {background:#585858;}input, select, textarea	{ vertical-align: middle; font-family:"돋움", Dotum, sans-serif; font-size:12px;}
select	{color:#444;}
em {font-style:normal;	}
table {border-collapse: collapse; width:97%;}
#iframename {background:#fff;}
/* 가이드 관련 css */
body {margin:0; padding:0; font:normal 14px/1.2 "돋움", Dotum, sans-serif; background-color:#000; color:#ccc; width:99%;}
#header {width:97%; padding:30px; font-size:1.2em; font-weight:bold; }
#topmenu {position:absolute; right:20px; height:24px; line-height:24px; color:#666; font-size:.9em;} 

#container { margin:20px 10px 0 10px; padding:15px; border-top:1px dotted #999; font-size:.9em;}
#content {height:100%; line-height:1.5em;}
#content h2 {margin:25px 0 10px 0; font-size:1em; font-weight:400;}
#content h2.mt0 {margin-top:0;}
ol {list-style-type:decimal; list-style-position:inside;}
.typeul,
.typeol {margin-left:15px;}
.typeul ul,
.typeol ul {margin-bottom:5px; padding-top:5px; }
.typeol ul li {margin-left:17px; list-style-type:square; list-style-position:inside;}
.typeul li {margin-left:5px; list-style-type:disc; list-style-position:inside; }
.typeul li ul li { margin-left:15px; list-style-type:circle; list-style-position:inside;}

.dotline {margin:0 0 5px 0; padding:0 0 5px 0; border-bottom:1px dotted #c8c8c8;}

#container .guide_summary {margin:10px 0 5px 5px;}
#container .guide_summary span { margin-right:15px;}
#container .dataTable table {border:1px solid #666;}
#container .dataTable table tbody td {padding:7px 5px; border:1px solid #555; line-height:1.6em;}
#container .dataTable table tbody td a {color:#cc0066;}
#container .dataTable table tbody td a:hover,
#container .dataTable table tbody td a.current {background:#585858;}
#container .dataTable table tbody th {border:1px solid #999;}
#container .dataTable table thead th {padding:7px 5px; background:#666; border:1px solid #999;}
.acenter {text-align:center;}
.text_point_b {color:#cc0066; font-weight:700;}
#container .dataTable table tbody td.none {padding:0; border:2px solid #666; }
