<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <!-- ✅ 바로 head 태그에 fragment 선언 -->
  <head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1"/>
    
    <title>관리자</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/adm/css/admstyle.css">

    <script src="/adm/js/common/jquery-3.6.1.min.js"></script>
  </head>
</html>