<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--- menu -->
<div class="sidebar">
    <div class="logo">
        <h1>한국렌탈</h1>
    </div>
    <ul id="side-lnb" class="side-lnb">
        <li class="open"> <!-- 현재상태 메뉴 open -->
            <div class="link">
                <a href="#" class="active"><i class="iconfont">article</i> 메뉴명</a> <!-- 현재상태 메뉴 active -->
            </div>
            <ul class="submenu">
                <li><a href="#" class="active">서브메뉴 1</a></li> <!-- 현재상태 메뉴 active -->
                <li><a href="#">서브메뉴 2</a></li>
                <li><a href="#">서브메뉴 3</a></li>
            </ul>
        </li>
        <li>
            <div class="link">
                <a href="#"><i class="iconfont">task</i> 메뉴명</a>
            </div>
            <ul class="submenu">
                <li><a href="#">서브메뉴 1</a></li>
                <li><a href="#">서브메뉴 2</a></li>
                <li><a href="#">서브메뉴 3</a></li>
            </ul>
        </li>
        <li>
            <div class="link">
                <a href="#"><i class="iconfont">view_cozy</i> 메뉴명</a>
            </div>
            <ul class="submenu">
                <li><a href="#">서브메뉴 1</a></li>
                <li><a href="#">서브메뉴 2</a></li>
                <li><a href="#">서브메뉴 3</a></li>
            </ul>
        </li>
        <li>
            <div class="link">
                <a href="#"><i class="iconfont">settings</i> 메뉴명</a>
            </div>
            <ul class="submenu">
                <li><a href="#">서브메뉴 1</a></li>
                <li><a href="#">서브메뉴 2</a></li>
                <li><a href="#">서브메뉴 3</a></li>
            </ul>
        </li>
    </ul>
</div>


</html>