<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adm/layout/admlayour}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content=" user-scalable=1" name="viewport"/>
		<title>관리자</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/adm/css/admstyle.css">
<!-- 		<script src="https://code.jquery.com/jquery-latest.min.js"></script> -->
		<script src="/adm/js/common/jquery-3.6.1.min.js"></script>
	</head>
<body>
<div layout:fragment="content">
<div class="wrap">

	<div class="logintitle"><!-- <img src="images/login_ci.png" /> --></div>
	<div class="login">
		<div class="welcome">
			<span class="t01">Member Login</span>
			아이디와 비밀번호를 입력하세요.
		</div>

		<dl class="myinput">
			<dt>아이디</dt>
			<dd><input type="text"  id="crbnAdmId" /> </dd>
			<dt>비밀번호</dt>
			<dd><input type="password"  id="crbnAdmPwd"/> </dd>
		</dl>
		<button id="loginBtn">로그인</button>
	</div>
 <script src="/adm/js/login.js"></script>
</div><!-- //wrap -->
</div>
</body>
</html>
